.mat-list {
    margin: 40px 0px;
}

.my_class {
    background-color: ghostwhite !important;
    color: #522da87e !important;
}

.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}
